In [24]:
import sys
sys.path.insert(0,'classes/')
from grafica import *
from ClassPerceptron import Perceptron

In [25]:
%matplotlib inline
import numpy as np
import pandas as pandas
import time
from sklearn.model_selection import train_test_split
from matplotlib import pylab as plt
from IPython import display

In [26]:
#LOAD DATASET
df_sonar = pandas.read_csv('data/sonar.csv')

In [27]:
df_sonar.head(3)

,Atrib_1,Atrib_2,Atrib_3,Atrib_4,Atrib_5,Atrib_6,Atrib_7,Atrib_8,Atrib_9,Atrib_10,...,Atrib_52,Atrib_53,Atrib_54,Atrib_55,Atrib_56,Atrib_57,Atrib_58,Atrib_59,Atrib_60,class
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,Rock
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,Rock
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,Rock

In [28]:
df_sonar['class'].unique()

array(['Rock', 'Mine'], dtype=object)

In [29]:
#RANDOM ORDER
df_sonar.sort_values(by=['Atrib_52'], ascending=False)

,Atrib_1,Atrib_2,Atrib_3,Atrib_4,Atrib_5,Atrib_6,Atrib_7,Atrib_8,Atrib_9,Atrib_10,...,Atrib_52,Atrib_53,Atrib_54,Atrib_55,Atrib_56,Atrib_57,Atrib_58,Atrib_59,Atrib_60,class
146,0.1021,0.0830,0.0577,0.0627,0.0635,0.1328,0.0988,0.1787,0.1199,0.1369,...,0.0709,0.0317,0.0309,0.0252,0.0087,0.0177,0.0214,0.0227,0.0106,Mine
144,0.0299,0.0688,0.0992,0.1021,0.0800,0.0629,0.0130,0.0813,0.1761,0.0998,...,0.0459,0.0277,0.0172,0.0087,0.0046,0.0203,0.0130,0.0115,0.0015,Mine
136,0.1088,0.1278,0.0926,0.1234,0.1276,0.1731,0.1948,0.4262,0.6828,0.5761,...,0.0455,0.0213,0.0082,0.0124,0.0167,0.0103,0.0205,0.0178,0.0187,Mine
138,0.0731,0.1249,0.1665,0.1496,0.1443,0.2770,0.2555,0.1712,0.0466,0.1114,...,0.0444,0.0230,0.0290,0.0141,0.0161,0.0177,0.0194,0.0207,0.0057,Mine
143,0.0516,0.0944,0.0622,0.0415,0.0995,0.2431,0.1777,0.2018,0.2611,0.1294,...,0.0432,0.0274,0.0152,0.0120,0.0129,0.0020,0.0109,0.0074,0.0078,Mine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,0.0249,0.0119,0.0277,0.0760,0.1218,0.1538,0.1192,0.1229,0.2119,0.2531,...,0.0027,0.0068,0.0150,0.0012,0.0133,0.0048,0.0244,0.0077,0.0074,Mine
49,0.0119,0.0582,0.0623,0.0600,0.1397,0.1883,0.1422,0.1447,0.0487,0.0864,...,0.0025,0.0103,0.0074,0.0123,0.0069,0.0076,0.0073,0.0030,0.0138,Rock
37,0.0333,0.0221,0.0270,0.0481,0.0679,0.0981,0.0843,0.1172,0.0759,0.0920,...,0.0022,0.0032,0.0060,0.0054,0.0063,0.0143,0.0132,0.0051,0.0041,Rock
108,0.0599,0.0474,0.0498,0.0387,0.1026,0.0773,0.0853,0.0447,0.1094,0.0351,...,0.0013,0.0005,0.0227,0.0209,0.0081,0.0117,0.0114,0.0112,0.0100,Mine
47,0.0373,0.0281,0.0232,0.0225,0.0179,0.0733,0.0841,0.1031,0.0993,0.0802,...,0.0008,0.0045,0.0024,0.0006,0.0073,0.0096,0.0054,0.0085,0.0060,Rock

In [30]:
#NUMERIZATION
df_sonar['Mine'] = df_sonar['class'].map({
    'Mine' : 1,
    'Rock' : 0
  })
df_sonar = df_sonar.drop(columns='class')

In [31]:
#NORMALIZATION - MEAN & STD
for c in df_sonar.columns:
  if (c != 'Mine'):
    df_sonar[c] = (df_sonar[c] - df_sonar[c].mean()) / df_sonar[c].std()

In [32]:
test_set_size = 0.1
for i in range(3):
  #SPLIT INTO TRAIN AND TEST SETS
  df_train, df_test = train_test_split(df_sonar, test_size=test_set_size)
  x1 = df_train.drop(columns='Mine').to_numpy()
  x2 = df_test.drop(columns='Mine').to_numpy()
  t1 = df_train['Mine'].to_numpy()
  t2 = df_test['Mine'].to_numpy()
  accuray_list = []
  for i in range(10):
    perceptron = Perceptron(alpha=0.06, n_iter=200, draw=0, random_state=None)
    #TRAIN PERCEPTRON
    perceptron.fit(x1, t1)
    #TEST PERCEPTRON
    y = perceptron.predict(x2)
    accuracy = 0.0
    accuracy_count = sum(y == t2)
    accuracy = (accuracy_count / len(df_test)) * 100
    accuray_list.append(accuracy)
  print('{0:.2f}% de efectividad,'.format(sum(accuray_list)/10), 'alpha:', perceptron.alpha, '% test set size:', test_set_size * 100)
  test_set_size += 0.1

62.86% de efectividad, alpha: 0.06 % test set size: 10.0
72.14% de efectividad, alpha: 0.06 % test set size: 20.0
77.30% de efectividad, alpha: 0.06 % test set size: 30.000000000000004